{% extends 'base.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <button type="submit">Sauvegarder</button>
</form>

{% if addresses %}
    <h1>Adresses de livraison</h1>
{% endif %}

{% for address in addresses %}

{% include 'accounts/address.html' %}

{% endfor %}


{% endblock %}