<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La boutique de Docstring</title>
</head>
<body>

<a href="{% url 'index' %}">
    <h1>La boutique de Docstring</h1>
</a>

{% if user.is_authenticated %}
    {{ user.email }}
    <a href="{% url 'logout' %}">Déconnexion</a>
{% else %}
    <a href="{% url 'login' %}">Connexion</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
{% endif %}

{% if user.cart %}
<p>
    <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
</p>
{% endif %}


{% block content %}
{% endblock %}

</body>
</html>